# Meta/Facebook API
VITE_META_API_URL=https://graph.instagram.com/v18.0
VITE_META_API_KEY=your_meta_api_key_here

# Google Ads API
VITE_GOOGLE_API_URL=https://www.googleapis.com/admanager/v1
VITE_GOOGLE_API_KEY=your_google_api_key_here

# TikTok Ads API
VITE_TIKTOK_API_URL=https://business-api.tiktok.com/open_api/v1.3
VITE_TIKTOK_API_KEY=your_tiktok_api_key_here

# Application Settings
VITE_API_TIMEOUT=30000
VITE_API_RETRIES=3
VITE_ENV=development
